<html>
    <header>
        <title>New Message</title>
    </header>
    <body>
        <form method="POST" action="/new">
            <label for="username">Username:</label>
            <input name="username" placeholder="Username" type="text" />
            <label for="message">Message:</label>
            <input name="message" palceholder="Write something" type="text" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>