<html>
    <header>
        <title>Message Details</title>
    </header>
    <body>
        <%= message.text %><br>
        <span>Written by: <%= message.user %></span><br>
        <span>Submitted: <%= message.added %></span>
        <div><a href="/">Home</a></div>
    </body>
</html>